{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information du patient</title>
    <link rel="stylesheet" type="text/css" href="{% static 'vue.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>
<body id="affiche_ident">
    <h1 class="affiche_tit"> Informations du Patient </h1>
    <table class="affiche_table">
        <tr class="affiche-ligne">
            <th class="affiche-titl-label">Nom</th>
            <td class="affiche-colone">{{ patient.surname_p }}</td>
        </tr>
        <tr class="affiche-ligne">
            <th class="affiche-titl-label">Prénom</th>
            <td class="affiche-colone">{{ patient.first_name_p }}</td>
        </tr>
        <tr class="affiche-ligne">
            <th class="affiche-titl-label">Age</th>
            <td class="affiche-colone">{{ patient.age_p }}</td>
        </tr>
        <tr class="affiche-ligne">
            <th class="affiche-titl-label">Sexe</th>
            <td class="affiche-colone">{{ patient.sex_p }}</td>
        </tr>
        <tr class="affiche-ligne">
            <th class="affiche-titl-label">Situation matrimoniale</th>
            <td class="affiche-colone">{{ patient.marital_status }}</td>
        </tr>
        <tr class="affiche-ligne">
            <th class="affiche-titl-label">Profession</th>
            <td class="affiche-colone">{{ patient.profession }}</td>
        </tr>
        <tr class="affiche-ligne">
            <th class="affiche-titl-label">Numéro de téléphone</th>
            <td class="affiche-colone">{{ patient.numero_p }}</td>
        </tr>
        <tr class="affiche-ligne">
            <th class="affiche-titl-label">Email</th>
            <td class="affiche-colone">{{ patient.email_p }}</td>
        </tr>
        <tr class="affiche-ligne">
            <th class="affiche-titl-label">Religion</th>
            <td class="affiche-colone">{{ patient.religion }}</td>
        </tr>
        <tr class="affiche-ligne">
            <th class="affiche-titl-label">Ethnie</th>
            <td class="affiche-colone">{{ patient.ethnic }}</td>
        </tr>
        <tr class="affiche-ligne">
            <th class="affiche-titl-label">Adresse de résidence</th>
            <td class="affiche-colone">{{ patient.residence }}</td>
        </tr>
    </table>

    <div class="contain-btn">
        <button id="bouton-retour" class="btn-return"><< Retour</button>
        <button type="submit" class="btn_update">
            <a href="{% url 'patient-update' patient.id_patient %}"> Modifier </a>
        </button>
    </div>

</body>
</html>